.log-in {
    text-decoration: none;
    color: #14213d;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.log-out {
    color: #fca311;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

ul > li {
    list-style-type: none;
    float: right;
    margin-right: 2em;
    display: inline;
}
.nav-in-out {
    border-bottom: 10px solid #fca311;
    color: #14213d;
}