.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95afc0;
    margin: 0 20px;
}

.main-container {
    padding-top: 175px;
}

::placeholder {
    color: white;
    opacity: 1;
}
.landing-buttons {
    background-color: #333333;
    color: white;
    font-weight: 600;
    padding: 15px;
}