*{
    box-sizing: border-box;
    padding-bottom: 10px;
}
.welcome-text {
    line-height: 1.75em;
}
::placeholder {
    color: white;
    opacity: 1;
}
.landing-parent-section {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.landing-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #95afc0;
}

.landing-inputs {
    background-color: #333333;
    color: white;
    font-weight: 800;
}

.landing-buttons {
    border: 1px solid black;
}
.child {
    margin: 5px;
}

.watch-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.75em;
    text-decoration: none;
}
.watch-now-link {
    border: 2px solid black;
    padding: 15px;
    color: white;
    background-color: #333333;
    font-weight: 600;
}

@media(min-width: 48em) {
    .landing-parent-section {
        padding-top: 50px;
        text-align: center;
    }
    
    .landing-form {
        align-items: center;
        background-color: #95afc0;
    }
    .landing-inputs {
        width: 20vw;
    }
}