* {
    box-sizing: border-box;
}
body {
    background-color: rgb(236,239,244);
}
.div-main {
    background: white;
    border-radius: 12px;
    margin: 20px 50px;
}
#description {
    background-color: gray;
}

textarea {
    height: 12em;
    width: 12em;
}
#upload-icon {
    height: 100%;
    width: 20em;
    color: rgba(0,212,255,1)
}

@media(min-width: 48em) { 
    .video-info {
        
    }
    .upload-btn {
        background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,212,255,1) 100%);
    }

}